# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sem 3\Design and Analysis of Algorithms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
